{% extends "base.html" %}
{% block content %}
<div class="content">
<h1>
    會員系統基本流程 (管理員)
<p>
    1. 管理員可以新增會員資料。<br>
    2. 管理員有權限可以修改、刪除會員資料<br>
    3. 會員資料查詢。<br>
    4. 登入後才可以使用訂餐系統。<br>
    5. 等級權限：0 ~ 1為管理員。<br>
    6. 等級權限：2 ~ 9為使用者。<br>
</p>
    <!-- <a href="/memberCreate/">會員新增</a><br/>
    <a href="/memberUpdate/">會員修改</a><br/>
    <a href="/memberDelete/">會員刪除</a><br/>
    <a href="/memberKeyQuery/">會員個人資料查詢</a><br/>
    <a href="/memberListAll/">會員全部列表</a><br/>
    <a href="/memberKeyQuery/">會員條件查詢</a><br/> -->
</h1>
</div>
{% endblock %}