{% extends "base.html" %}
{% block content %}
<div class="content">
<h1 align="center">
    MDU點餐系統
</h1>
<h2>
    <p>
        1. 如中午有訂餐需求的新進學員，請找當日值日生或助教申請會員帳號。<br/>
        2. 學員皆為一般使用者，只有當日值日生會暫時升級成管理員等級。<br>
        3. 值日生負責選擇當天要點餐的餐廳。<br>
        4. 因預算有限, 每人每份餐點限點一份。<br>
        5. 如發現餐點有誤，請找管理員刪除錯誤餐點。<br>
        6. 一般使用者只有選擇餐點及查看餐點列表的權限。<br>
    </p>
</h2>

    <!-- <a href="/memberCreate/">會員新增</a><br/>
    <a href="/memberUpdate/">會員修改</a><br/>
    <a href="/memberDelete/">會員刪除</a><br/>
    <a href="/memberKeyQuery/">會員個人資料查詢</a><br/>
    <a href="/memberListAll/">會員全部列表</a><br/>
    <a href="/memberKeyQuery/">會員條件查詢</a><br/> -->

</div>
{% endblock %}