<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form method="POST" action="\rOrder\"></form>
    廠商名稱: <input type="text" name="rName"><br/>
    <br/>
    餐點名稱1：<input type="text" name="mName1"><br/>
    價錢1: <input type="text" name="price1"><br/>
    註記1: <input type="text" name="note1"><br/>
    <br/>
    餐點名稱2：<input type="text" name="mName2"><br/>
    價錢2: <input type="text" name="price2"><br/>
    註記2: <input type="text" name="note2"><br/>
    <br/>
    餐點名稱3：<input type="text" name="mName3"><br/>
    價錢3: <input type="text" name="price3"><br/>
    註記3: <input type="text" name="note3"><br/>
    <br/>
    <input type="submit" value="送出">
</form>
</body>
</html>